:host{
  span{
    color:goldenrod;
    cursor: pointer;
  }

  &.disabled {
    pointer-events: none;
      span{
        color:lightgray
      }
  }
    &.disabled {
    pointer-events: none;
      span{
        cursor:unset;
      }
  }
}
